<div id="<%= dom_id team %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= team.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= team.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Manager:</strong>
    <%= team.manager_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Active:</strong>
    <%= team.active? ? "Yes" : "No" %>
  </div>
</div>
