<div id="<%= dom_id office %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= office.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= office.city_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= office.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= office.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Zip code:</strong>
    <%= office.zip_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Number:</strong>
    <%= office.number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Complement:</strong>
    <%= office.complement %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Neighborhood:</strong>
    <%= office.neighborhood %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Google infos:</strong>
    <%= office.google_infos %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Active:</strong>
    <%= office.active? ? "Yes" : "No" %>
  </div>
</div>
