<!DOCTYPE html>
<html>
  <head>
    <title>foome | Dashboard da empresa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <%= render "shared/company_header" %>

    <main class="flex-1 container mx-auto px-4 py-6">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </main>
  </body>
</html> 